/* =|====================
  THEME 
 ======================= */

html {
  font-size: 14px;
}
// Typography 
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: lighten($black, 15%);
  line-height: 1.5;
  margin-bottom: 20px;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  color: lighten($black, 15%);
  line-height: 1.5;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.75rem;
  font-weight: 700;
  color: lighten($black, 15%);
  line-height: 1.5;
  margin-bottom: 20px;
}
h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: lighten($black, 15%);
  line-height: 1.5;
  margin-bottom: 20px;
}
h5 {
  font-size: 1.25rem;
  font-weight: 700;
  color: lighten($black, 15%);
  line-height: 1.5;
  margin-bottom: 20px;
}
h6 {
  font-size: 1rem;
  font-weight: 700;
  color: lighten($black, 15%);
  line-height: 1.5;
  margin-bottom: 20px;
}
p {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
}
.sub-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  color: $gray;
  line-height: 1.5;
  font-size: 20px;
}
// Colors
.gray {
  color: $gray;
}
.bg-gray {
  color: $gray;
  background: #DDDDDD;
}
.bg-main {
  background: $main !important;
}
.red {
  color: $red !important;
}
.green {
  color: $green !important;
}
// Tablets
@media (min-width: 426px) and (max-width: 768px) {
  html {
    font-size: 24px;
  }
  h2 {
    font-size: 35px;
  }
  h4 {
    font-size: 24px;
  }
};

// Laptops
@media (min-width: 769px) {
  html {
    font-size: 24px;
  }
  h2 {
    font-size: 40px;
  }
  h4 {
    font-size: 24px;
  }
};
