/* ==|====================
  Layout/Main
 ======================= */

.l-main

.container
  	max-width: 100%  
  	padding-left: 1rem
  	padding-right: 1rem
  	margin: auto

.section
	padding: 60px 20px

	h2 
		margin: 30px
		font-size: 1.6rem
		text-align: center

	h3
		margin: 30px
		font-size: 1.3rem
		text-align: center

	p
		color: $gray
	
.section-alt
	padding: 70px 20px
	color: $white
	background: $main-alt 
	

	h2 
		margin: 30px
		font-size: 1.6rem
		text-align: center

	h3
		margin: 30px
		font-size: 1.3rem
		text-align: center

.l-row
	padding: 10%
	padding-top: 2%
	padding-bottom: 2%
	display: flex
	align-items: center
	justify-content: center
	overflow: hidden

	.l-col-6
		width: 50%
		box-sizing: border-box

.img-responsive
	width: 100%



// Mobile Vertical
@media only screen and (max-width: 480px)
	.l-row
		padding: 0
		width: 100%
		flex-direction: column

		.l-col-6
			width: 100%
			margin: 20px 0
