/* ==|====================
  Layout/Main
 ======================= */

.l-main

.container
  	max-width: 100%  
  	padding-left: 1rem
  	padding-right: 1rem
  	margin: auto

.section
	padding: 60px 20px
	text-align: center

	h2 
		margin: 30px
		font-size: 1.6rem
		text-align: center

	h3
		margin: 30px
		font-size: 1.3rem
		text-align: center

	p
		color: $gray
	
.section-alt
	padding: 70px 20px
	color: $white
	background: $main-alt 
	text-align: center

	h2 
		margin: 30px
		font-size: 1.6rem
		text-align: center

	h3
		margin: 30px
		font-size: 1.3rem
		text-align: center
		
