/* =|====================
  STATE    
 ======================= */

.is-hidden
    display: none

.is-bold
	font-weight: 700

.is-hidden-left
    transform: translateX(-100%)

.is-text-center
	text-align: center
