<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gulp Sass</title>

    <link href="img/favicon.png" rel="icon" type="image/png">
	
    <!-- build:css css/lib.min.css-->
	<!-- bower:css -->
	<!-- endbower --> 
    <!-- endbuild -->
	<!-- inject:css -->
	<!-- endinject -->

</head>
<body>
    <!-- TEMPLATE START -->
	<div class="wrapper">
		<header id="header">
			<nav class="nav">
				<img class="logo" src="img/gulp-white-text.png" alt="Gulp Logo">
				<ul class="nav-list">
					<li class="nav-list--item"><a href="#">About</a></li>
					<li class="nav-list--item"><a href="#">Source</a></li>
					<li class="nav-list--item"><a href="#">More</a></li>
				</ul>
			</nav>
		</header>
		<content id="content" class="is-centered">
			<div class="row">
				<h1 class="jumbotron">Gulp Starter SASS+SMACSS: Commands</h1>
			</div>
			<div class="row">
				<div class="computer">
					<div class="computer-screen">
						<ul class="computer-commands">
							<li class="computer-commands--item">gulp</li>
							<li class="computer-commands--item">gulp clean:dist</li>
							<li class="computer-commands--item">gulp styles</li>
							<li class="computer-commands--item">gulp scripts</li>
							<li class="computer-commands--item">gulp useref</li>
						</ul>
					</div>
					<div class="computer-base"></div>
				</div>
			</div>
			<div class="row">
				<p>Instructions for Gulp Sass Starter file. If you want more info or more packages about the starter file go to: <a href="https://github.com/rmfranciacastillo/gulp-stater-files">Here</a></p>
			</div>
		</content>
		<footer id="footer"></footer>
	</div>
    <!-- TEMPLATE END-->

    <!-- build:js js/lib.min.js --> 
	<!-- bower:js -->
	<!-- endbower --> 
    <!-- endbuild -->
	<!-- inject:js -->
	<!-- endinject -->

</body>
</html>
