<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gulp Sass</title>
    <link href="img/logo.png" rel="icon" type="image/png">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- build:css css/lib.min.css-->
    <!-- endbuild -->
	<!-- inject:css -->
	<!-- endinject -->

</head>
<body>
	<h3>Home Template</h3>

    <!-- build:js js/lib.min.js --> 
    <!-- endbuild -->
	<!-- inject:js -->
	<!-- endinject -->

</body>
</html>
